body { background-color: #2a1559; color: #fff; }

img {
	max-height: 5vh;
}

.pixelheart {
	position: absolute;
	top: 50%;
	left: 50%;
	animation: bounce 3s cubic-bezier(.32,.76,.75,.49) alternate infinite;
}

a, a:hover { color: #00CFFF; }

.text { margin: 10vh; }

#heart { z-index: 70; position: absolute; top: 0; left: 0; }
#heart-purp { z-index: 69; position: absolute; top: 0; left: 0; animation: glitch .5s cubic-bezier(.25, .46, .45, .94) both infinite; }
#heart-gold { z-index: 68; position: absolute; top: 0; left: 0; animation: glitch 1s cubic-bezier(.25, .46, .45, .94) reverse both infinite; }
#heart-darkred { z-index: 67; position: absolute; top: 0; left: 0; animation: glitch 1.5s cubic-bezier(.25, .46, .45, .94) alternate both infinite; }

@keyframes glitch {
	0% { transform: translate(0); }
	20% { transform: translate(-5px, 10px); }
	40% { transform: translate(-5px, -10px); }
	60% { transform: translate(10px, 5px); }
	80% { transform: translate(5px, -10px); }
	to { transform: translate(0); }
}

@keyframes bounce {
	0% { transform: translate(0); }
	25% { transform: translate(0, -30px); }
	50% { transform: translate(0, 30px); }
	75% { transform: translate(0, -30px); }
	100% { transform: translate(0); }

}

